// Header
header(class='header')

  // Container
  +container: +row: +col(4)

    // Header Logo
    div(class='header__logo')
      img(src='../assets/img/logo.png')

    // Nav
    ul(class='nav')
      li: a(class='nav__link nav__link--active'
            href='#') Home
      li: a(class='nav__link'
            href='#') Benefits
      li: a(class='nav__link'
            href='#') Pricing
      li: a(class='nav__link'
            href='#') Pages
      li: a(class='nav__link'
            href='#') Blog
      li: a(class='nav__link nav__link--button'
            href='#') Contact